<h1><%= post.id%> </h1>
<h3><%= post.Title%> </h3>
<%= post.Text %>
<p >Comments: <span><%= post.CommentsCounter %></span>, 
Likes: <span><%= post.LikesCounter %></span></p>

<% if can? :destroy, post %>
     <%= button_to "Destroy this post", user_post_path(@user.id, post.id), method: :delete %>
<% end %>