<p><%= @post.Title %> by <%= @post.user.Name%></p>
<p>Comments: <span><%= @post.CommetCounter %></span>, Likes: <span><%= @post.LikesCounter %></span></p>

<%= @post.text %>
    <%= form_with model: Like, url: post_likes_path(@post.user, @post), method: :post do |form| %>
    <% form.submit "Like" %>
<% end %>
<% if @post.comments.length > 0 %>
    <% @post.comments.each do |comment| %>
    <p><%= comment.user.Name %> : <%= comment.Text %></p>
<% end %>
    <% else %>
    <p>There are no comments !!</p>
<% end %>

<% if can? :destroy, comment %>
    <%= button_to "Destroy this comment", post_comment_path(post.id, comment.id), method: :delete %>
<% end %>

<div>
    <h3>Add a comment</h3>
    <%= render partial: 'partials/_new' %>
</div>