<p><%= @post.Title %> by <%= @post.user.Name%></p>
<p>Comments: <span><%= @post.CommetCounter %></span>, Likes: <span><%= @post.LikesCounter %></span></p>

<%= @post.text %>
<% if @post.comments.length > 0 %>
    <% @post.comments.each do |comment| %>
    <p><%= comment.user.Name %> : <%= comment.Text %></p>
<% end %>
    <% else %>
    <p>There are no comments !!</p>
<% end %>